.main{
    height: 100vh;
}

.sidebar{
    background-color: rgb(48, 45, 45);
    color: white;
}

.sidebar ul {


    list-style: none;
}

.sidebar ul li{
    padding: 10px;
}

.sidebar ul li a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
